* {
    padding: 0;
    margin: 0;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#field-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.person-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.person-fields > * {
    width: 100%;
}